<!doctype html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>
</head>
<body ng-app>
  <input type="checkbox" ng-model="name">
  <div ng-show="name">Я согласен с правилами!</div>
  hello {{name}}
  {{2+2}}
  {{2+5}}
  {{2+7}}
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo tenetur doloribus enim deserunt ratione labore dolor fugiat soluta quidem maxime nobis ea, saepe natus assumenda vitae at. Soluta, debitis, ipsam.</p>
  <div>1</div>
  <div>2</div>
    <!-- <div ng-controller="defaultCtrl as ctrl">
      <label>Имя:</label>
      <input type="text" ng-model="yourName">
      <hr>
      <h1>Привет,  { { yourName  } }!</h1>
    <h1>Не привет,  { { anotherName  } }!</h1>
    <button ng-click="ctrl.sayHello(yourName)">Сказать привет</button>

    <div ng-controller="anotherCtrl">
      <input type="text" ng-model="anotherName">
      <h1>Ещё раз привет,  { { yourName  } }!</h1>
    </div>
    </div> -->
</body>
</html>
<!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!DOCTYPE html>
<html ng-app="tutorial">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div>
 	<p>Name: <input type="text" ng-model="name"></p>
 	<p> {{name}}</p>
</div>

</body>
</html>
 -->
<!-- <!doctype html>
<html ng-app>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>
</head>
<body>
    <div>
	    <label>Имя:</label>
	    <input type="text" ng-model="yourName">
	    <hr>
	    <h1>Привет,  { { yourName  } }!</h1>
    </div>
</body>
</html> -->

<!-- <!doctype html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <title>My HTML File</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <script src="bower_components/angular/angular.js"></script>
  </head>
  <body>

    <p>Nothing here {{'yet' + '!'}}</p>

  </body>
</html> -->